@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap%27');

*
{
    font-family: "Montserrat";

    margin: 0;
}

body
{
    background: #1B202F;
}

.main-box
{
    margin-bottom: 64vh;
    padding-left: 91px;
    padding-right: 91px;
}